//----------------------
// Configuration
//----------------------

configuration {
	modi: 				"drun";
	font: 				"Monaco 10";
	show-icons: 		true;   
	icon-theme:	 		"Papirus-Dark";	
	display-drun: 		"";
	display-run: 		"";


	 filebrowser {
      directory: "/home/cancel";
      sorting-method: "name";
      directories-first: true;
   }
}
@theme	"~/.config/rofi/themes/rhombus.rasi"

